<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout-project">
<div layout:fragment="content" class="">
  <div class="clearfix basic-page-header">
      <div class="issuable-header">
          <h2>커밋 내역</h2>
      </div>
      <div class="issuable-actions"></div>
  </div>
  <div id="vue-commits"
       th:attr="data-group-path=${paramGroupPath},data-project-path=${paramProjectPath},data-service-name=${serviceName}"/>
</div>
</html>
