.issues-list {
  .issue {
    padding: 10px 16px;
    position: relative;

    &.today {
      background: #f3fff2;
      border-color: #e1e8d5;
    }
  }

  li {
    .issue-check {
      float: left;
      padding-right: 16px;
      margin-bottom: 10px;
      min-width: 15px;
    }
  }
}
