<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout-admin">
<head>
    <title>Health Check</title>
</head>
<div layout:fragment="content">
    <h3 class="page-title">
        Health Check
    </h3>
    <div v-if="loaded" class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Application Status:
                    <i class="fa fa-circle cgreen"></i>
                    Healthy
                </div>
                <div class="panel-body">
                    No Health Problems Detected
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    DB Status:
                    <template v-if="health.db.status == 'UP'">
                        <i class="fa fa-circle cgreen"></i>
                        Healthy
                    </template>
                    <template v-else="">
                        <i class="fa fa-circle cred"></i>
                        Unhealthy
                    </template>
                </div>
                <div class="panel-body">
                    No Health Problems Detected
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Subversion Status:
                    <i class="fa fa-circle cgreen"></i>
                    Healthy
                </div>
                <div class="panel-body">
                    No Health Problems Detected
                </div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="content-script">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script th:src="@{/assets/js/vue-utils.js}"></script>
    <script th:src="@{/assets/js/monitoring-health.js}"></script>
</div>
</html>