<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout-empty">
<head>
	<title>Password &middot; User Settings</title>
</head>
<div layout:fragment="content" class="row mt">
	<div class="col-lg-4 profile-settings-sidebar">
		<h4 class="prepend-top-0" th:text="#{profile.password.header}">Password</h4>
		<p th:text="#{profile.password.header.help}">After a successful password update, you will be redirected to the login page where you can log in with your new password.</p>
	</div>
	<div class="col-lg-8">
		<h5 class="prepend-top-0" th:text="#{profile.password.change.header}">Change your password</h5>
		<form class="update-password" th:action="@{/update-password}" accept-charset="UTF-8" method="post">
			<input type="hidden" name="userName" th:value="${session.USERNAME}"/>
			<div class="form-group">
				<label class="required" for="user_current_password" th:text="#{profile.password.current.label}">Current password</label>
				<input required="required" class="form-control" type="password" name="currentPassword" id="user_current_password"/>
				<p class="help-block" th:text="#{profile.password.current.help}">You must provide your current password in order to change it.</p>
	  		</div>
			<div class="form-group">
				<label class="required" for="user_password" th:text="#{profile.password.new.label}">New password</label>
				<input required="required" class="form-control" type="password" name="password" id="user_password"/>
			</div>
			<div class="form-group">
				<label class="required" for="user_password_confirmation" th:text="#{profile.password.confirm.label}">Password confirmation</label>
				<input required="required" class="form-control" type="password" name="passwordConfirmation" id="user_password_confirmation"/>
			</div>
			<div class="prepend-top-default append-bottom-default">
				<input type="submit" name="commit" th:value="#{profile.password.update}" class="btn btn-create append-right-10"/>
			</div>
		</form>
	</div>
</div>
</html>